<%- include("partials/header"); -%>
<div class="push-footer ">
<h4>Latest messages below</h4> 

<%  messages.forEach(function(message){ %>
    <div class=" messages left ">
      <label>First Name: </label><span><%=message.firstname%></span><br>
      <label>Last Name:</label> <span><%=message.lastname%></span><br>
      <label>Email Address: </label><span><%=message.email%></span><br>
      <label>Message: </label><span><%=message.shortmessage%></span>
      <form action="delete" method="post"><button type="submit" class="delete right" name="removePost" value="<%=message._id%>"><i class="material-icons ">delete_forever</i></button></form>
    </div>

      <% }) %>




     
</div>


<%- include("partials/footer"); -%>